body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #0f766e, #14b8a6);
  color: white;
  text-align: center;
  padding: 30px;
}

h1 {
  margin-bottom: 40px;
  font-size: 32px;
  letter-spacing: 1px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.box {
  background: #ffffff10;
  border-radius: 15px;
  padding: 20px;
  width: 280px;
  box-shadow: 0 0 10px #00000040;
  transition: transform 0.2s;
}

.box:hover {
  transform: scale(1.05);
}

.box h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

.circle {
  background: #065f46;
  width: 70px;
  height: 70px;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  box-shadow: 0 0 10px #00000030;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

ul li {
  background: #ffffff15;
  margin: 5px 0;
  padding: 8px;
  border-radius: 5px;
}

.link {
  display: inline-block;
  margin-top: 30px;
  color: white;
  text-decoration: none;
  background: #0d9488;
  padding: 10px 18px;
  border-radius: 8px;
}

.link:hover {
  background: #0f766e;
}

.button {
    display: inline-block;
    margin: 25px;
    padding: 15px 25px;
    background-color: #121a1a;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 17px;
    cursor: pointer;
    text-decoration: none;
}