*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right, #0f766e, #14b8a6);
  background-attachment: fixed;
}

header {
    width: 100vw;
    height: 13vh;
    background-color: rgba(227, 227, 227, 0.2);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 15px;
}

.centro {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centro img {
    width: 35px;
    height: 35px;
}
#buscar {
  flex: 1;
  max-width: 700px;
  margin: 0 20px;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 25px;
  outline: none;
  font-size: 16px;
  transition: all 0.3s ease;
  justify-content: left;
}

#buscar:focus {
  border-color: #888;
  box-shadow: 0 0 5px rgba(160, 160, 160, 0.2);
}
.container {
    width: 100vw;
    height: 90vh;
    display: flex;
}

nav {
    padding-top: 3dvh;
    width: 200px;
    height: 160vh;
    background-color: rgba(227, 227, 227, 0.2);
    backdrop-filter: blur(5px);
    transition: 0.3s;
}

nav ul {
    list-style: none;
}

nav ul li {
    width: 200px;
    height: 40px;
    padding: 5px;
    font-size: 20px;
    color: #686868;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav ul li:hover {
    cursor: pointer;
    background-color: #fffbf7d7;
}

.content {
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.box {
    width: 700px;
    height: 320px;
    border-radius: 5px;
    background-color: rgba(204, 204, 204, 0.25);
    color: #fff;
    border: 1px solid rgba(225, 225, 225, 0.2);
    margin-left: 0px;
}

.box img {
    width: 100%;
    max-height: 90%;
    border-radius: 5px 5px 0 0;
}

.box p {
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.box #paciente_nome {
    padding-left: 5px;
    font-size: 50px;
    font-weight: bolder;
}
.box a{
    margin-top: 13px;
    color: #53535353;
    width: 70%;
    padding: 5px 0;
    border-radius: 5px;
    border: none;
    background-color: #cccccc83;
    font-weight: bold;
    cursor: pointer;
    align-self: center;
    padding-left: 50px;
}
.box .info {
    display: flex;
    padding: 5px;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 60px;
   
}

.button {
    display: inline-block;
    margin: 20px;
    padding: 15px 15px;
    background-color: #121a1a;
    color: white;
    border: none;
    border-radius: 13px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
}

#lupa{
    width: 25px;
    height: 25px;
    justify-self: center;
}

.menu {
    display: none;
    padding-right: 20px;
}

@media (max-width: 700px) {
    .menu {
        display: block;
    }

    nav {
        position: absolute;
        top: 10vh;
        left: -200px;
        height: 100vh;
    }
}
